*{
	padding: 0;
	margin: 0;
	box-shadow: border-box;
}

body{
	font-family: 'Robato', sans-serif;
}

.card-container{
	padding: 1rem;
	background: linear-gradient(to right top, #65dfc9,#6cdbeb);
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;


}

.card{
	
	width: 30%;
	background: linear-gradient( to bottom right, rgba(255,255,255,0.7),rgba(255,255,255,0.3));
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	border-radius: 2rem;
}

.card .card-title{
	font-weight: 500;
	text-align: center;
	padding: 1.5rem;
	font-size: 2rem;

}


.card .card-description{
	padding: 1rem;
	text-align: center;
	height: 50px;
	overflow: hidden;
	

}

.card .btn{
	
	padding: .8rem;
	align-content: center;
	border: .1rem solid black;
	font-size: 1rem;
	border-radius: 0.5rem;
	bottom: 0;
	width: 98%;
	background: #d9d9d9;
	opacity: .7;
	margin-top: .3rem;
	
}

.card .btn:hover{
	transform: translateY(.1rem);
	cursor: pointer;
}

.card .btn1{
	
	padding: .8rem;
	align-content: center;
	border: .1rem solid black;
	font-size: 1rem;
	border-radius: 0.5rem;
	bottom: 0;
	width: 98%;
	background: #d9d9d9;
	opacity: .7;
	display: none;
	
}

.card .btn1:hover{
	transform: translateY(.1rem);
	cursor: pointer;
}








@media(max-width: 991px){
	body{
		font-size: 90%;
	}

	.card .card-title{
		font-size: 90%;
	}

	.card{
		padding: 1rem;
		text-align: center;
	}

	.card .btn,
	.card .btn1{
		font-size: 80%;
		padding: 1rem;
	}
}

@media(max-width: 768px){
	body{
		font-size: 80%;
	}
	.card .card-title{
		font-size: 80%;
	}
	.card{
		padding: .5rem;
		text-align: center;
	}
	.card .btn,
	.card .btn1{
		font-size: 60%;
		padding: .5rem;
	}
}
